## Imports

In [43]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings("ignore")

In [44]:

df = pd.read_csv("./datasets/mlr_spearman.csv")

In [45]:

df.head()

,target,age_at_diagnosis,1/2-SBSRNA4,A1BG,A1BG-AS1,A1CF,A2LD1,A2ML1,A2MP1,A4GNT,...,ZXDC,ZYG11A,ZYG11B,ZYX,ZZEF1,ZZZ3,inss_stage_2,inss_stage_3,inss_stage_4,inss_stage_4S
0,True,987,0.834381,1.910053,1.453191,0.005102,0.580151,0.027558,0.170671,0.057101,...,3.466692,0.862512,3.561729,5.039327,3.245179,3.296496,0,0,1,0
1,False,1808,0.743094,0.941996,0.640614,0.005902,0.738233,0.000000,0.000000,0.066125,...,3.201112,0.051655,3.595790,5.144157,2.843600,3.052771,0,0,1,0
2,False,625,0.909414,1.950857,1.156765,0.005192,0.927667,0.028036,0.045284,0.000000,...,3.056684,0.022912,2.236695,4.982975,2.880531,2.431521,0,0,1,0
3,False,335,0.795775,1.989477,1.525277,0.000000,0.936497,0.000000,0.044204,0.028540,...,3.081720,0.108028,3.312516,6.142091,2.864198,3.119886,1,0,0,0
4,True,536,0.905540,1.942946,1.365043,0.025347,0.924853,0.000000,0.000000,0.032056,...,2.823576,0.049621,2.235632,5.236531,2.761698,2.226502,0,0,1,0

In [46]:
X = df.drop('target',axis=1)
y = df['target']
y

0       True
1      False
2      False
3      False
4       True
       ...
159    False
160    False
161    False
162     True
163    False
Name: target, Length: 164, dtype: bool

Run query to filter dataset - procude a binary mask to filter out genes accoridng to filter e.g filter = df_genes['ran_imp'] > 0.0

In [47]:
file = 'ADA_RANKED_1113_101.csv'
# file = 'RAN_RANKED_102.csv'
filepath = f'./csvs/gene_importances/{file}'
df_genes = pd.read_csv(filepath)
filter = df_genes['ada_imp'] > 0.0
# filter = df_genes['ran_imp'] > 0.0
df_genes = df_genes[filter]
df_genes

            gene  ada_imp direction  ada_rank
0           DTNA     0.08  positive         1
1       FLJ31813     0.08  positive         2
2           TPRN     0.08  positive         3
3           PIGN     0.08  positive         4
4          GREM2     0.06  positive         5
5   LOC100130872     0.06  positive         6
6        C9orf78     0.06  positive         7
7            CIC     0.04  positive         8
8          RTN4R     0.04  positive         9
9         RMND5A     0.04  positive        10
10       C3orf67     0.04  positive        11
11         EIF5B     0.04  positive        12
12          TAB1     0.04  positive        13
13      FLJ30679     0.02  positive        14
14         CRYAB     0.02  positive        15
15        KLHL22     0.02  positive        16
16          MREG     0.02  positive        17
17        MESDC2     0.02  positive        18
18         GRIK3     0.02  positive        19
19        MICAL3     0.02  positive        20
20         CCKBR     0.02  positive        21
21         TCF21     0.02  positive        22
22        CLEC5A     0.02  positive        23
23       IGHMBP2     0.02  positive        24
24           SRR     0.02  positive        25
25  LOC100628307     0.02  positive        26

In [48]:
gene_list = df_genes['gene'].values.tolist()
print(len(gene_list))
gene_list

26

['DTNA',
 'FLJ31813',
 'TPRN',
 'PIGN',
 'GREM2',
 'LOC100130872',
 'C9orf78',
 'CIC',
 'RTN4R',
 'RMND5A',
 'C3orf67',
 'EIF5B',
 'TAB1',
 'FLJ30679',
 'CRYAB',
 'KLHL22',
 'MREG',
 'MESDC2',
 'GRIK3',
 'MICAL3',
 'CCKBR',
 'TCF21',
 'CLEC5A',
 'IGHMBP2',
 'SRR',
 'LOC100628307']

In [49]:
# add baCK target column to list
gene_list.append('target')
gene_list

['DTNA',
 'FLJ31813',
 'TPRN',
 'PIGN',
 'GREM2',
 'LOC100130872',
 'C9orf78',
 'CIC',
 'RTN4R',
 'RMND5A',
 'C3orf67',
 'EIF5B',
 'TAB1',
 'FLJ30679',
 'CRYAB',
 'KLHL22',
 'MREG',
 'MESDC2',
 'GRIK3',
 'MICAL3',
 'CCKBR',
 'TCF21',
 'CLEC5A',
 'IGHMBP2',
 'SRR',
 'LOC100628307',
 'target']

In [50]:
df_reduced = df.filter(gene_list)

In [51]:
df

,target,age_at_diagnosis,1/2-SBSRNA4,A1BG,A1BG-AS1,A1CF,A2LD1,A2ML1,A2MP1,A4GNT,...,ZXDC,ZYG11A,ZYG11B,ZYX,ZZEF1,ZZZ3,inss_stage_2,inss_stage_3,inss_stage_4,inss_stage_4S
0,True,987,0.834381,1.910053,1.453191,0.005102,0.580151,0.027558,0.170671,0.057101,...,3.466692,0.862512,3.561729,5.039327,3.245179,3.296496,0,0,1,0
1,False,1808,0.743094,0.941996,0.640614,0.005902,0.738233,0.000000,0.000000,0.066125,...,3.201112,0.051655,3.595790,5.144157,2.843600,3.052771,0,0,1,0
2,False,625,0.909414,1.950857,1.156765,0.005192,0.927667,0.028036,0.045284,0.000000,...,3.056684,0.022912,2.236695,4.982975,2.880531,2.431521,0,0,1,0
3,False,335,0.795775,1.989477,1.525277,0.000000,0.936497,0.000000,0.044204,0.028540,...,3.081720,0.108028,3.312516,6.142091,2.864198,3.119886,1,0,0,0
4,True,536,0.905540,1.942946,1.365043,0.025347,0.924853,0.000000,0.000000,0.032056,...,2.823576,0.049621,2.235632,5.236531,2.761698,2.226502,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159,False,162,0.845622,1.942807,1.089871,0.006957,1.665634,0.012612,0.061050,0.221767,...,3.580700,0.030691,2.957640,4.675505,3.217231,3.603715,0,0,1,0
160,False,865,0.997977,2.336929,1.182908,0.024298,0.673627,0.000000,0.053645,0.034626,...,3.523813,0.026980,2.827654,5.103993,3.519328,2.563558,0,0,1,0
161,False,1759,1.003559,2.836360,1.367371,0.007295,1.401265,0.013213,0.182636,0.000000,...,3.123189,0.094324,2.569946,4.754433,2.834434,2.415940,0,0,1,0
162,True,2326,0.842437,1.205317,0.643751,0.000000,0.837443,0.000000,0.000000,0.036918,...,3.018102,0.780477,3.569224,4.938587,2.949716,2.957478,0,0,1,0
163,False,947,1.057873,2.439868,1.096815,0.006678,0.939849,0.000000,0.219968,0.110204,...,3.312617,0.043928,2.773570,4.572914,3.051346,2.665079,0,0,1,0

In [52]:
df_reduced

,DTNA,FLJ31813,TPRN,PIGN,GREM2,LOC100130872,C9orf78,CIC,RTN4R,RMND5A,...,MESDC2,GRIK3,MICAL3,CCKBR,TCF21,CLEC5A,IGHMBP2,SRR,LOC100628307,target
0,3.441078,0.274479,2.352315,2.165037,0.730560,0.182999,4.544430,5.017036,3.421880,3.634547,...,2.971617,0.308878,3.816456,0.158283,0.498505,0.027605,3.481932,2.807005,0.032586,True
1,3.872691,0.317838,3.100552,2.504376,0.344939,0.139642,4.410836,5.477470,2.432361,3.536811,...,2.099309,0.831351,3.871016,0.000000,0.351506,0.223924,2.951877,3.195365,0.038528,False
2,3.716804,0.238793,2.546811,1.849087,0.932035,0.104565,4.121438,4.910598,2.738078,3.714586,...,2.467105,0.564331,3.853417,0.000000,0.243135,0.095969,3.082246,2.261747,0.066519,False
3,3.657686,0.290302,2.568081,1.901035,0.317690,0.065700,4.323276,4.988067,2.638841,3.775883,...,2.939275,0.663855,4.338681,2.435231,1.476848,0.144089,2.917837,2.478467,0.000000,False
4,2.729762,0.343609,2.554471,2.120432,0.192882,0.219258,4.298790,4.664818,3.016660,3.296546,...,2.598372,0.167089,3.829170,0.244065,0.000000,0.060697,2.918732,2.503458,0.000000,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159,4.108474,0.412667,2.307644,1.678608,0.247059,0.039370,3.786889,5.116606,2.365735,3.969906,...,2.595599,2.924818,3.915167,0.000000,0.636233,0.110019,2.852736,2.406504,0.000000,False
160,3.868262,0.232327,2.636116,2.003138,0.145492,0.057144,3.747785,4.416705,2.384614,3.824208,...,2.475536,2.090308,4.250992,0.000000,0.287322,0.033070,2.683218,2.005950,0.000000,False
161,2.917128,0.403402,2.615367,1.878867,0.186625,0.094057,4.243730,3.409850,3.328801,3.832880,...,2.988975,3.626591,2.961027,0.000000,0.522945,1.869785,2.529179,2.451878,0.000000,False
162,5.043178,0.390015,2.761338,2.135578,0.155274,0.155375,4.479075,4.606573,2.378220,3.334088,...,2.877952,0.045522,3.525868,0.030370,0.178927,0.000000,3.839093,3.124231,0.000000,True
163,3.145192,0.276791,2.560544,2.259788,0.452722,0.109983,4.139936,4.190970,1.974460,3.651993,...,2.787493,0.496378,4.235834,0.000000,0.803410,0.155605,2.659265,2.236881,0.000000,False

In [53]:
output_file = f'RED_{file}'
output = f'./datasets/reduced_features_mlr_datasets/{output_file}' 
output

'./datasets/reduced_features_mlr_datasets/RED_ADA_RANKED_1113_101.csv'

In [54]:
df.to_csv(output, index=False)